@import "tailwindcss";

@keyframes pulseDot {
  0% {
    box-shadow: 0 0 0 0 rgba(37,99,235,.4);
  }

  70% {
    box-shadow: 0 0 0 18px rgba(37,99,235,0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(37,99,235,0);
  }
}

.timeline-dot {
  animation: pulseDot 2.8s infinite;
}